<footer style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    <img class="logo_in_header" src="/img/Sock.png" alt="picture of alex" style="margin-bottom: 10px;">
    <span>&copy; <%= new Date().getFullYear(); %> SockTalkSite.com  |  All Rights Reserved</span>
</footer>
