<h1>about</h1>

<div style="text-align: center;">
    <img src="/img/image1.png" alt="picture of alex">
    <img src="/img/image2.jpg" alt="picture of alex">
    <img src="/img/image3.jpg" alt="picture of alex">
    <img src="/img/image4.jpg" alt="picture of alex">
</div>